#navbarSupportedContent{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 1em 0;
    background: white;
    z-index: 99;
    .nav-item{
        margin: 1em 5em;
        i{
            padding: 0 0.5em;
            font-size: 1.25rem;
        }

        span{
            padding: 0 0.5em;
        }

        .nav-link{
            padding: 0.5em;
        }
    }
}

// Media Queries
@media screen and (min-width: 1024px){
    #navbarSupportedContent{
        position: fixed;
        right: 3%;
        top: 50%;
        transform: translate(-3%, -70%);
        background: none;
        .nav-item{
            
            .nav-link{
                background: #434343;
                border-radius: 50%;
            }

            i{
                color: white;
                padding: 0.5em;
                font-size: 1.25rem;
            }
    
            span{
                display: none;
            }

            .nav-link:hover{
                color: #fff;
                background: orange;
                border-radius: 25%;
            }
        }
    }
}